<div class="content">
  <h1>お問い合わせフォーム</h1>
  <% if @contact.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @contact.errors.count %>件のエラーがあります。</h3>
      </div>
      <div class="panel-body">
        <% @contact.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= form_for(@contact) do |f| %>
  <div class="explanation">
    <div class="field">
      <p><i class="fa fa-pencil"></i><%= f.label :title %></p>
      <p><%= f.text_field :title, placeholder: 'タイトル記入' %></p>
    </div>
    <div class="field">
      <p><i class="fa fa-commenting-o"></i><%= f.label :body %></p>
      <p><%= f.text_area :body %></p>
    </div>
    <div class="field">
      <p><%= f.label :tel %></p>
      <p><%= f.text_field :tel %></p>
    </div>
    <div class="field">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Back', root_path, class: "btn btn-default" %>
    </div>
  <% end %>
  </div>
</div>
